.lotion\:editor {
  padding-inline: 28px;
  max-width: 768px;
  box-sizing: content-box;
  margin: 0 auto;
  outline: 0px solid transparent;
  padding-bottom: 50px;
  @import "./Typebase.scss";
  h1:first-child {
    font-size: 2.5rem;
  }
  [data-placeholder].is-empty::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }
}