.lotion\:editor {
  position: relative;
  box-sizing: content-box;
  margin: 0 auto;
  max-width: 768px;
  &\:content-editable {
    padding-inline: 32px;
    outline: 0px solid transparent;
    padding-bottom: 50px;
    position: relative;
    @import "./Typebase.scss";
  }
  h1:first-child {
    font-size: 2.5rem;
  }
  [data-placeholder].is-empty::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }
}
