/*! Typebase.less v0.1.0 | MIT License */
/* Copy & Lists */
p {
  line-height: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0;
  font-size: 1rem;
}
ul,
ol {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
ul li,
ol li {
  line-height: 1em;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-top: 0;
  margin-bottom: 0;
}
blockquote {
  line-height: 1em;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1.5rem;
  margin-bottom: 0;
  line-height: 1em;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.7rem;
}
h3 {
  font-size: 1.3rem;
}
h4 {
  font-size: 1rem;
}
h5 {
  font-size: 0.8rem;
}
h6 {
  font-size: 0.6rem;
}
/* Tables */
table {
  margin-top: 1.5rem;
  border-spacing: 0px;
  border-collapse: collapse;
}
table td,
table th {
  padding: 0;
  line-height: 33px;
}
/* Code blocks */
code {
  vertical-align: bottom;
}
/* Leading paragraph text */
.lead {
  font-size: 1.414rem;
}
/* Hug the block above you */
.hug {
  margin-top: 0;
}