.lotion\:folder {
  display: flex;
  flex-direction: column;
  margin-top: var(--gutter);
  &.root {
    margin-top: 0;
    > .lotion\:folder\:header {
      padding-block: 0;
      padding-inline-start: var(--gutter);
      > .lotion\:folder\:header\:name {
        color: rgba(0, 0, 0, 0.5);
      }
      .lotion\:folder\:control\:item {
        display: flex;
      }
      &:hover {
        background: none;
      }
    }
    > .lotion\:folder\:body {
      padding-inline-start: 0;
    }
  }
  &\:header {
    margin-inline: var(--gutter);
    display: flex;
    justify-content: flex-end;
    font-size: 0.9rem;
    align-items: center;
    padding: var(--gutter-small);
    transition: background-color 200ms, box-shadow 200ms;
    box-sizing: content-box;
    border-radius: var(--radius);
    &.drop {
      background: rgba(83, 212, 255, 0.359) !important;
    }
    &.dragging {
      background: var(--background-color);
      z-index: 2;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      // align-self: flex-start;
      pointer-events: none;
      button:not(.lotion:folder:control:item:visible) {
        display: none;
      }
    }
    &.contains-open-child:not(:hover) .lotion\:folder\:control\:item:first-child {
      background-color: var(--background-color);
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }
    &\:name {
      user-select: none;
      pointer-events: none;
      -webkit-user-select: none;
      margin: 0;
      font-size: 1em;
      line-height: auto;
      font-weight: 500;
      display: block;
      flex: 1;
      min-width: 0;
      padding: 0;
      margin: 0 var(--gutter-small);
      width: 'auto';
      border-style: none;
      background: none;
      outline: none;
      box-sizing:border-box;
      max-width: 100%;
      width: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow-x: hidden;
      &\:edit {
        user-select: auto;
        pointer-events: all;
      }
    }
    &:not(.active):hover {
      background: rgba(0, 0, 0, 0.07);
    }
    &.active {
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      background: var(--background-color);
      .lotion\:folder\:header\:name {
        font-weight: 600;
      }
    }
  }
  &\:icon {
    margin: 0;
    flex: 0;
    border: none;
    padding: var(--gutter-small);
    background: none;
    display: flex;
    border-radius: 4px;
    line-height: 1em;
    font-size: 1.2em;
    &.emoji {
      font-size: 1em;
      line-height: 1.2em;
    }
  }
  &\:body {
    padding-inline-start: var(--gutter);
    display: flex;
    flex-direction: column;
  }
  &\:add-page {
    margin-top: var(--gutter);
  }
  &\:control {
    &\:item {
      background: var(--folder-control-bg);
      transition: all 200ms;
      opacity: 0;
      transform: translateZ(0) scale(1);
      display: none;
      &:not(:disabled):hover {
        background: var(--folder-control-bg__hover);
        opacity: 1 !important;
      }
      &:active {
        transform: scale(0.9);
      }
      &:disabled {
        opacity: 0.5;
      }
      &\:visible {
        opacity: 1 !important;
        display: flex;
      }
    }
    &:hover &\:item {
      opacity: 0.5;
      display: flex;
    }
  }
}
