.lotion\:layout {
  display: flex;
  height: 100vh;
  flex-direction: row;
}

.lotion\:layout\:body {
  flex: 1;
  background-color: var(--background-color);
}

.lotion\:layout\:sidebar {
  flex: 0 256px;
  width: 256px;
}