:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  font-size: 15px;
  --font-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --titlebar-height: 28px;
  --background-color: white;

  --radius: 4px;
  --gutter: 8px;
  --gutter-small: 4px;
  --editor-padding-inline: 32px;

  --folder-control-bg: transparent;
  --folder-control-bg__hover: rgba(0, 0, 0, 0.1);
}

html, body {
  padding: 0;
  margin: 0;
  position: fixed;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

body {
  font-family: var(--font-ui);
}